body{
  background-image: url("https://wallpapercave.com/wp/wp5212426.jpg");
background-size: cover;
  background-repeat: no-repeat;
}

.heading{
  color: white;
  font-size: 50px;
  font-family: monospace;
  font-weight: bolder;
}

.subheading{
  color: white;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: bolder;
}

.content{
  color: white;
  font-size: 15px;
  font-family:sans-serif;
  font-weight: bolder;
}

.button {
  background-color: #ffffff00;
font-family: sans-serif;
  border-radius: 20px;
  color: white;
  width: 100px;
  padding: 5px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}
